.brown-sugar {
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px!important;
}

#table-yuk{
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 50px ;
    background-color: aqua;
    padding: 20px;
}